**/*.class
**/.classpath
**/.project
**/.settings/
**/target/**
*.class
*.iml
*.ipr
*.iws
*.jar
*~
.DS_Store
.hg/
.hgignore
.idea
.vagrant
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
build
orc/
pom.xml
pom.xml.asc
target
*.jfr
